.header {
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  overflow: hidden;
  margin-top: 28rem;
}

.sobre-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gotham HTF", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 21.875rem;
  color: #0b0c0d;
  opacity: 1;
  white-space: nowrap;
  pointer-events: none;
  z-index: 1;
  text-shadow: 0 4px 32px rgba(0, 0, 0, 0.5);
  line-height: 1.6875rem;
}

.frase {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 12rem;
  margin-left: 8rem;
  gap: 1rem;
}

.melhor {
  color: #ffffff;
  font-family: "Gotham HTF", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 6.875rem;
  letter-spacing: -5%;
  line-height: 4.8125rem;
}

.tecnologia {
  color: #ffffff;
  font-family: "Gotham HTF", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 6.875rem;
  letter-spacing: -5%;
  margin-left: -6.5rem;
  line-height: 4.8125rem;
}

@media (max-width: 1600px) {
  .sobre-bg {
    font-size: 21.875rem;
  }
  .melhor,
  .tecnologia {
    font-size: 6.875rem;
  }
}
@media (max-width: 1440px) {
  .sobre-bg {
    font-size: 20rem;
  }
  .melhor,
  .tecnologia {
    font-size: 6.875rem;
  }
}
@media (max-width: 1366px) {
  .sobre-bg {
    font-size: 20rem;
  }
  .melhor,
  .tecnologia {
    font-size: 6.875rem;
  }
}
@media (max-width: 1280px) {
  .sobre-bg {
    font-size: 21.875rem;
  }
  .melhor,
  .tecnologia {
    font-size: 6.875rem;
  }
}
@media (max-width: 1024px) {
  .sobre-bg {
    font-size: 10rem;
  }
  .melhor,
  .tecnologia {
    font-size: 6.875rem;
  }
}

@media screen and (max-width: 768px) {
  .sobre-bg {
    font-size: 8rem;
  }
  .melhor,
  .tecnologia {
    font-size: 4.5rem;
  } 
  
}

@media (max-width: 414px) {
  .sobre-bg {
    font-size: 5rem;
  }
  .melhor,
  .tecnologia {
    font-size: 2rem;
  }
}


