@use './breakpoints' as b;

$breakpoints: b.$breakpoints;
$font-base: 1.6rem;
$container-padding: 2rem;

$color-bg-light: #ffffff;
$color-text-light: #171717;
$color-bg-dark: #0a0a0a;
$color-text-dark: #ededed;


