.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80%;
  height: 100%;
  opacity: 0.3;
}

.outlinedSection {
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  z-index: 2;
  pointer-events: none;
  background: none;
  padding: 0;
}

.outlinedText {
  font-size: 8rem;
  font-family: "Gotham HTF", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  white-space: nowrap;
  line-height: 1.2;
  text-align: center;
  font-style: italic;
}

.imageFadeWrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.outlinedSectionRodape {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  background: none;
  padding: 0;
}

.marqueeWrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: auto;
}

@media (max-width: 768px) {
  .container {
    display: none !important;
  }
}

@media (max-width: 3840px) {
  .outlinedText {
    font-size: 10rem;
  }
}
@media (max-width: 2560px) {
  .outlinedText {
    font-size: 8rem;
  }
}
@media (max-width: 1920px) {
  .outlinedText {
    font-size: 8rem;
  }
}
@media (max-width: 1600px) {
  .outlinedText {
    font-size: 8rem;
  }
}
@media (max-width: 1440px) {
  .outlinedText {
    font-size: 4rem;
  }
}
@media (max-width: 1366px) {
  .outlinedText {
    font-size: 8rem;
  }
}
@media (max-width: 1280px) {
  .outlinedText {
    font-size: 8rem;
  }
}
@media (max-width: 1024px) {
  .outlinedText {
    font-size: 4rem;
  }
}
